[submodule "source/customer"]
	path = source/customer
	url = git@github.com:LyleLee/customer.git
[submodule "source/src/arm_neon_example"]
	path = source/src/arm_neon_example
	url = git@github.com:LyleLee/arm_neon_example.git
